#asideHeader {
  background-image: url("./assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 2rem;
  margin: 1.5rem;
}

#namesFooter {
  display: flex;
  justify-content: center;
}
