#chatInput {
  background-color: #72ebb4;
  border: none;
  height: 2rem;
  width: 50%;
  padding: 0 1rem;
  border-radius: 2rem;
  margin: 0.25rem 0 3rem 0;
}

#sendButton {
  border: none;
  height: 2rem;
  width: 8rem;
  margin-top: 1rem;
  background: #333;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 10px;
  outline: none;
  color: #fff;
}

#sendButton {
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.24),
    0 1.5rem 5rem 0 rgba(0, 0, 0, 0.19);
}
#chatForm {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  justify-content: center;
}

#chatItem {
  background-color: #72ebb4;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  margin: 1rem 1rem 1rem 15.3rem;
  height: 2.5rem;
  padding: 0.1rem 0.1rem 0.1rem 1rem;
  display: flex;
  align-items: center;
  width: 60%;
  box-shadow: 1px 3px 7px 3px #888888;
}

#leaveBtn {
  border: none;
  height: 2rem;
  width: 8rem;
  background: #333;
  padding: 0 1rem;
  margin: 1rem 0.25rem 0.25rem 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#leaveBtn:hover {
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.24),
    0 1.5rem 5rem 0 rgba(0, 0, 0, 0.19);
}

#messages > li:nth-child(odd) {
  background: #efefef;
  text-align: center;
}
