#mainContainer {
  height: 100vh;
  width: 100%;
  margin: 0;
}

#roomName {
  border-radius: 2rem;
  background-color: white;
  border: none;
  height: 2rem;
  width: 12rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  margin-left: 0.5rem;
  padding: 0 1rem;
}

#enterBtn {
  border: none;
  height: 2rem;
  width: 8rem;
  background: #333;
  padding: 0 1rem;
  margin: 0.7rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#enterBtn:hover {
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.24),
    0 1.5rem 5rem 0 rgba(0, 0, 0, 0.19);
}

#profile {
  background-color: rgb(172, 33, 93);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#profileName {
  padding-left: 0.5rem;
}
#logOutBtn {
  height: 2rem;
  width: 4rem;
  margin-top: 1rem;
  background: #333;
  border: none;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#logOutBtn:hover {
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.24),
    0 1.5rem 5rem 0 rgba(0, 0, 0, 0.19);
}

#roomList {
  list-style-type: none;
  border: 1px #333 solid;
  border-radius: 1rem;
  background-color: black;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  text-align: center;
  background: #333;
}

#roomList:hover {
  background-color: white;
  color: black;
}

ul {
  padding: 0;
  margin: 0.5rem;
}

@media (max-width: 380px) {
  #roomName {
    width: 7rem;
  }
}
