html {
  height: 100%;
}

body {
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100%;
  background-image: url("./assets/backgroundHoriz.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
#aside {
  width: 15rem;
  background-color: rgb(216, 27, 109);
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  word-wrap: break-word;
}

#welcomeMsg {
  margin: 1rem;
  border-bottom: #333 solid 1px;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

#createRoomContainer {
  display: flex;
  flex-direction: column;
}
#header {
  background-image: url("./assets/title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 4rem;
  width: auto;
  margin-top: 4rem;
}
#startContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 20rem;
  padding: 3rem;
  border-radius: 10px;
}

#inputContent {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

#nickNameInput {
  border-radius: 2rem;
  background-color: rgb(216, 27, 109);
  border: none;
  height: 2.5rem;
  width: 15rem;
  margin-top: 1rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

#logInButton {
  height: 2rem;
  width: 8rem;
  background: #333;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 10px;
  outline: none;
  color: #fff;
}

#logInButton:hover {
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.24),
    0 1.5rem 5rem 0 rgba(0, 0, 0, 0.19);
}

#currentRoom {
  padding-left: 1rem;
  padding-right: 1rem;
}
