body {
  background-image: url("./assets/backgroundHoriz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
#header {
  background-image: url("./assets/title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 4rem;
  width: auto;
  margin-top: 4rem;
}

/* .inside {
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
} */

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inputContent {
  height: 15rem;
  width: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  padding: 2rem;
  padding-right: 4rem;
  padding-left: 4rem;
}

#nickNameInput {
  border-radius: 2rem;
  background-color: #e85695;
  border: none;
  height: 2.5rem;
  width: 15rem;
  margin-top: 1rem;
  padding: 0 1rem;
}

#logInButton {
  border-radius: 2rem;
  background-color: #93b39c;
  border: none;
  height: 2.5rem;
  width: 8rem;
  margin-top: 2rem;
}

#logInButton:hover {
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.24),
    0 1.5rem 5rem 0 rgba(0, 0, 0, 0.19);
}
